<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>New message</title>
  </head>
  <body>
    <a href="/">Back to the message board</a>
    <h1>Leave a new message</h1>
    <%- include('./templates/form.ejs') %>
  </body>
</html>
